//
// home.scss
//

// home-1

.home-1 {
  background-size: cover;
  align-self: center;
  position: relative;
  padding-top: 76px;
  background-position: center center;
  background-image: url("../images/home-bg.png");
  .home-heading {
    .home-title {
      font-size: 40px;
      font-weight: 400;
    }
    .para-desc {
      max-width: 600px;
      margin: 0 auto;
    }
    ul {
      li {
        a {
          display: flex;
          align-items: center;
          i {
            font-size: 17px;
          }
        }
      }
    }
  }
  .home-img {
    .light-img {
      display: block;
    }
    .dark-img {
      display: none;
    }
  }
  .home-circle {
    margin-bottom: 74px;
    img {
      width: auto;
    }
  }
  span.ring1 {
    position: absolute;
    bottom: 30%;
    left: 100px;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 2px solid $muted;
    }
  }
  span.ring2 {
    position: absolute;
    top: 10px;
    left: 20%;
    img {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 2px solid $primary;
    }
  }
  span.ring3 {
    position: absolute;
    right: 84px;
    bottom: 35%;
    img {
      width: 57px;
      height: 57px;
      border-radius: 50%;
      border: 2px solid $muted;
    }
  }
  span.ring4 {
    position: absolute;
    bottom: 15%;
    left: 46%;
    img {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: 2px solid $primary;
    }
  }
  span.ring5 {
    position: absolute;
    top: -30px;
    right: 20%;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid $primary;
    }
  }
  .animate-v {
    animation: upNdown1 2s infinite linear;
  }
  .animate-curve {
    &:after {
      animation: upNdown2 2s infinite linear;
      animation: upNdown2 2s infinite linear;
    }
  }
  .animate-v2 {
    animation: upNdown11 2s infinite linear;
  }
  .animate-v3 {
    animation: upNdown12 2s infinite linear;
  }
}

/* Animate Up Down*/
@keyframes upNdown1 {
  0% {
  }
  50% {
    transform: translateY(40px);
  }
  100% {
  }
}
@keyframes upNdown2 {
  0% {
  }
  50% {
    transform: translateY(20px);
  }
  100% {
  }
}
@keyframes upNdown2 {
  0% {
  }
  50% {
    transform: translateY(20px);
  }
  100% {
  }
}
/* Animate Up Down 2*/
@keyframes upNdown11 {
  0% {
  }
  50% {
    transform: translateY(10px);
  }
  100% {
  }
}
/* Animate Up Down 2*/
@keyframes upNdown12 {
  0% {
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
  }
}

@media (max-width: 576px) {
  .home-circle {
    margin-bottom: 0px !important;
    .ring1 {
      display: none;
    }
    .ring2 {
      display: none;
    }
    .ring3 {
      display: none;
    }
    .ring4 {
      display: none;
    }
    .ring5 {
      display: none;
    }
  }
}

// *********** home-2
.home-2 {
  align-items: center;
  display: flex;
  min-height: 100vh;
  .home-heading {
    h3 {
      font-size: 40px;
    }
    .home-title {
      font-size: 20px;
    }
  }
  .box {
    position: absolute;
    top: 0;
    transform: rotate(80deg);
    left: 0;
    &::after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 11;
      transform: translate3d(0, 0, 0);
    }
  }
  .wave {
    position: fixed;
    top: 0;
    left: 0;
    position: absolute;
    top: 3%;
    left: 10%;
    background: rgba($primary, 0.3);
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -256px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 7000ms infinite linear;
  }

  .wave.-three {
    animation: drift 7500ms infinite linear;
    position: fixed;
    background: rgba($primary, 0.2);
  }

  .wave.-two {
    animation: drift 10000ms infinite linear;
    background: rgba($primary, 0.1);
    position: fixed;
  }

  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }

  @keyframes anim {
    0% {
      transform: scale(0, 0) rotateZ(-190deg);
      opacity: 0;
    }
    30% {
      transform: scale(1, 1) rotateZ(100deg);
      opacity: 1;
    }
    50% {
      transform: scale(1, 1) rotateZ(0deg);
      opacity: 1;
    }
    80% {
      transform: scale(0, 0) rotateZ(190deg);
      opacity: 0;
    }
  }
}

.home-slider {
  cursor: pointer;
  padding-bottom: 40px;
  .tobii-zoom__icon {
    display: none;
  }
  .swiper-container {
    // padding: 18px 0 50px 0;
    .fream-phone {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: 0;
      height: auto;
      width: 230px;
    }
    .swiper-wrapper {
      img {
        border-radius: 20px;
      }
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      background: $primary;
    }
  }
  img {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .home-slider {
    .swiper-container {
      padding: 15px 0 50px 0;
      .fream-phone {
        width: 180px;
      }
    }
  }
}

@media (max-width: 992px) {
  .home-slider {
    .swiper-container {
      padding: 15px 0 50px 0;
      .fream-phone {
        width: 260px;
      }
    }
  }
}

.mobile {
  z-index: 1;
  .phone {
    position: absolute;
    left: 50%;
    bottom: -36px;
    i {
      font-size: 55px;
      position: relative;
      color: rgba($primary, 1);
      &::after {
        position: absolute;
        background-color: rgba($primary, 1);
        height: 8%;
        width: 13%;
        border-radius: 50%;
        left: 44%;
        animation-name: fingerScroll;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: linear;
        filter: blur(0.01em);
        content: "";
      }
    }
  }
}

@keyframes fingerScroll {
  0% {
    top: 65%;
  }
  100% {
    top: 35%;
  }
}

//  home 3

.home-3 {
  position: relative;
  // background-image: url("../images/home/homebg-1.png");
  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .home-heading {
    h3 {
      font-weight: 300;
      opacity: 0.6;
      font-size: 60px;
      letter-spacing: 5px;
    }
    .home-title {
      font-size: 40px;
    }
    .avatar-md {
      display: inline-block;
      border-radius: 50%;
      padding: 20px 24px;
      width: 75px;
      display: flex;
      align-items: center;
      height: 75px;
      color: $white;
      font-size: 35px;
      transition: all 0.4s ease-in;
      background: rgba($primary, 0.98);
      margin-right: 10px;
      &:hover {
        background-color: $success;
      }
    }
    .home-link {
      color: rgba($white, 0.8);
      &:hover {
        color: rgba($white, 1);
      }
    }
  }

  .icon-text {
    display: inline-flex;
    .icon {
      position: relative;
      background-color: rgba($primary, 1);
      border-radius: 50%;
      margin: 10px;
      color: rgba($white, 1);
      width: 50px;
      height: 50px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 10px 10px rgba($black, 0.1);
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      i {
        font-size: 24px;
      }
    }

    @mixin android {
      background-color: #277427 !important;
      color: rgba($white, 1) !important;
    }
    .android {
      &:hover {
        @include android();
        .tooltip {
          @include android();
          &::before {
            @include android();
          }
        }
      }
    }
    @mixin apple {
      background-color: #242424 !important;
      color: rgba($white, 1) !important;
    }
    .apple {
      &:hover {
        @include apple();
        .tooltip {
          @include apple();
          &::before {
            @include apple();
          }
        }
      }
    }
    @mixin instagram {
      background-color: #d11c1c !important;
      color: rgba($white, 1) !important;
    }
    .instagram {
      &:hover {
        @include instagram();
        .tooltip {
          @include instagram();
          &::before {
            @include instagram();
          }
        }
      }
    }
    &:hover {
      .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
}

//SVG Source

#triangle {
  stroke: #fc63b3;
}

#circle {
  stroke: #fff48d;
}

#square {
  stroke: #94fff5;
}

#cross {
  stroke: #d68fff;
}

//Stage

.stage {
  width: 100%;
  height: 100%;
  svg {
    position: absolute;
    z-index: 2;
    //triangle
    &:nth-child(1) {
      left: 20%;
      top: 40%;
      animation: roll-right 9s infinite linear alternate-reverse;
    }
    //circle
    &:nth-child(2) {
      left: 90%;
      top: 30%;
      animation: roll-left 6s infinite linear alternate-reverse;
    }
    //square
    &:nth-child(3) {
      left: 70%;
      top: 20%;
      animation: roll-right 8s infinite linear alternate-reverse;
    }
    //cross
    &:nth-child(4) {
      left: 50%;
      top: 20%;
      animation: roll-left 12s infinite linear alternate-reverse;
    }
    //triangle
    &:nth-child(5) {
      left: 80%;
      top: 50%;
      animation: roll-left 13s infinite linear alternate-reverse;
    }
    //circle
    &:nth-child(6) {
      left: 10%;
      top: 20%;
      animation: roll-right 14s infinite linear alternate-reverse;
    }
    //square
    &:nth-child(7) {
      left: 40%;
      top: 60%;
      animation: roll-left 20s infinite linear alternate-reverse;
    }
    //cross
    &:nth-child(8) {
      left: 10%;
      top: 90%;
      animation: roll-right 11s infinite linear alternate-reverse;
    }
  }
}

//Bits Animation

@keyframes roll-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes roll-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (max-width: 768px) {
  .home-3 {
    .swiper-slide {
      .home-heading {
        h3 {
          font-size: 40px !important;
        }
        .home-title {
          font-size: 24px !important;
        }
      }
    }
  }
}

// home-4 

.home-4 {
  background: linear-gradient(10deg, rgba(255,255,255,1) 69%, rgba(101,111,224,1) 100%);
  .text-shadow-title {
    font-size: 40px;
    color: rgba($white, 1);
    text-shadow: 2px 0 0 $primary, -2px 0 0 $primary, 0 4px 0 rgba(101, 111, 224, 1), 
    0 -2px 0 $primary, 1px 1px $dark, -1px -1px 0 $primary, 1px -1px 0 $dark, -1px 1px 0 $dark;
  }
  .serch-form {
    position: relative;
    .input-group-text {
      padding: 12px 15px;
      border: none;
      font-size: 28px;
      position: absolute;
      background-color: transparent;
      top: 0;
      bottom: 0;
      color: #727272;  
    }
    input {
      font-size: 16px;
      width: 100%;
      padding: 18px 30px;
      border: 1px solid #f8f9fa;
      outline: none !important;
      box-shadow: rgb(0 0 0 / 24%) 0px 2px 8px;
      background-color: rgba($white, 1);
      padding-left: 18px;
      padding-right: 160px;
      border-radius: 6px;
      font-weight: 500;
    }
    button {
      position: absolute;
      top: 5px;
      bottom: 5px;
      right: 6px;
      font-size: 17px;
      i {
        font-size: 19px;
        margin-left: 4px;
        transform: rotateZ(320deg);
      }
    }
  }
}


// home-5 

.home-5 {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -3;
      width: 73%;
      clip-path: polygon(12% 0, 100% 0, 100% 100%, 100% 100%);
      left: auto;
      right: 0;
  }
  &::after {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      left: auto;
      right: 0;
      width: 64.3%;
      z-index: -1;
  }
  .home-heading {
    .home-title {
      font-size: 50px;
    }
    .sub-title {
      font-size: 30px;
      color: $black-70;
    }
  }
}

//  home-6 

.home-6 {
    background-image: url('../images/home/home9-6.png');
    min-height: 100vh;
    align-items: center;
    position: relative;
    display: flex;
      .home-heading {
        color: rgba($white, 1);
        .home-title {
          font-size: 60px;
          line-height: 58px;
        }
        .home-desc {
          max-width: 700px;
          margin: 0 auto;
        }
      }
  .bg-overlay {
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
  }
  .swiper-button-next,
  .swiper-button-prev {
      height: 44px;
      width: 44px;
      line-height: 44px;
      border-radius: 50%;
      background-color: $primary;
      color: $white;
      &::after {
          font-size: 15px;
      }
      @media (max-width: 767.98px) {
          display: none;
      }
  }
  .modal-btn {
    position: relative;
    padding: 13px 52px 13px 30px;
    span {
        position: absolute;
        align-items: center;
        justify-content: center;
        i {
            font-size: 34px;
        }
    }
    &:hover,
    &:focus {
        .btn-icon {
            background-color: $white;
            color: $primary;
            transition: all 0.9s ease;
        }
    }
}
}

body[data-layout-mode="dark"] {
  .home-1 {
    background-color: $dark !important;
    color: $white;
    .home-img {
      .light-img {
        display: none;
      }
      .dark-img {
        display: block;
      }
    }
  }
  .home-2 {
    background-color: $dark !important;
    color: $white;
    .bg-outline-gradiant {
      color: rgba($white, 1);
    }
  }
  .home-3 {
    background-image: url(../images/home/homebg-dark-1.png) !important;
    color: $white;
  }
  .home-4 {
    background-color: $dark !important;
    background: linear-gradient(10deg, rgb(23, 33, 42, 1) 69%, rgba(101,111,224,1) 100%) !important; 
    .text-shadow-title {
      color: rgba($primary, 1);
      text-shadow: 2px 0 0 $white, -2px 0 0 $white, 0 4px 0 rgba(255, 255, 255, 0.4), 
      0 -2px 0 $white, 1px 1px $white, -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white;
    }
  }
  .home-5 {
    background-color: $dark !important;
    z-index: 1;
    .home-title {
      color: $white;
    }
    .sub-title {
      color: $white-70;
    }
  }
  .home-6 {
    .bg-overlay {
      background-color: $dark;
      opacity: .9;
    }
  }
}
