// badge

@each $name,
$value in $colors {
    .bg-soft-#{$name} {
        background-color: rgba(($value), 0.2) !important;
        color: #{$value} !important;
        border: 1px solid  #{$value} !important;
        padding: .26em .95em;
    }
}