// 
// contact.scss
// 

.contact{
    padding: 120px 0 76px 0;
    .contact-map{
        position: relative;
        z-index: 999;
    }
    .contact-form {
        margin-bottom: 15px;
        box-shadow: none !important;
        height: 54px;
        padding-left: 20px;
        font-size: 15px;
        border-radius: 5px;
        z-index: 1;
        color: $dark;
    }
    
    .custom-form {
        .form-control {
            &:focus {
                border-color: #a3a3a3;
            }
        }
    }
    .form-section{
        z-index: 1;
        position: relative;
        bottom: -100px;
    }
}

.map {
    filter: grayscale(100%) invert(92%) contrast(83%);
}

body[data-layout-mode="dark"] {
    .contact {
        background-color: $dark !important;
        color: $white;
        .contact-form {
            border: 1px solid #1e2932;
            background-color: #1e2932;
            color: $white;
        }
    }
}